.section-container {
  display: flex;
  flex-direction: column;
}

.common-field {
  margin-bottom: 12px;
  border-radius: var(--common-border-radius);
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.div-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.div-fields-container textarea {
  height: 200px;
  resize: none; 
}

.action-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.back-button {
  width: 13%;
  margin-bottom: 20px;
}
