/* Clase para contenedor de botones de acción. De la mano con clase .actionButtons */
.actionButtonsContainer {
  display: flex;
  gap: 15px;
  color: linear-gradient(var(--dark-text-color), #646a7e);
}

/* Clase para botones de acción */
.buyNowButton, .showDetailsButton {
  border-radius: var(--common-border-radius);
  width: 27%;
  height: 33px;
  border: unset;
  color: white;
}

.buyNowButton {
  background: var(--btn-primary-bg-colors);
}

.showDetailsButton {
  background: var(--btn-secondary-bg-colors);
}