/* Estilo del modal */
.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del modal */
.modal-content {
  background-color: var(--input-background-light);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 43%;
}

/* Contenedor de botones de acción del modal */
.modal-actions-container {
  display: flex; 
  justify-content: center;
}

.action-button {
  margin: 7px;
}