/* Estilo del modal */
.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del modal */
.modal-content {
  background-color: var(--input-background-light);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Estilo para el botón de confirmar y cancelar */
.modal-content button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

/* Estilo para el botón de confirmar */
.modal-content .confirm-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
}

/* Estilo para el botón de cancelar */
.modal-content .cancel-btn {
  background-color: #f44336;
  color: white;
  border: none;
}