.divContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Columna de Mensaje */
.contactTitle {
  font-size: xx-large;
  font-weight: 300;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.formContainer textarea {
  height: 200px;
  resize: none; 
}

.field {
  margin-bottom: 12px;
  border-radius: var(--common-border-radius);
}

/* Columna de Información de Contacto */
.contactContainer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.socialMediaContainer {
  display: flex;
  flex-direction: row;
}
.socialMediaIcon {
  align-self: center;
  margin-right: 7px;
}