:root {
  --light-color: #FDEBE4;
  --light-blue-color: rgb(10 251 238);
  --blue-color: rgb(97 182 255);
  /* Navbar */
  --light-color-opacity: rgb(253, 235, 228, 0.55);
  --start-navbar-color-opacity: rgb(117, 178, 206, 0.55);
  --dark-text-color: #031c26;
  /* Text */
  --input-background: rgb(251, 249, 249, 0.55);
  --input-background-light: rgb(251, 249, 249);
  /* Radius - commons styles */
  --common-border-radius: 13px;
  /* Buttons */
  --btn-primary-end-color: #646a7e;
  --btn-secondary-start-color: #75b2ce;
  --btn-secondary-end-color: #3c4e76;
  --btn-primary-bg-colors: linear-gradient(to right, var(--dark-text-color), var(--btn-primary-end-color));
  --btn-secondary-bg-colors: linear-gradient(to right, var(--btn-secondary-start-color), var(--btn-secondary-end-color));
  --card-product-details: rgb(251, 249, 249, 0.35);
  /* Navigation */
  --section-active-end-bg: #fbe9e3;
  --section-active-bg: linear-gradient(to right, var(--btn-secondary-start-color), var(--section-active-end-bg));
}

body {
  margin: 0px;
  min-height: 100vh;
  /* overflow: hidden; */
  overflow-y: auto;
  background:
    linear-gradient(192deg, var(--light-color), rgb(128 187 239 / 0%) 70.71%),
    linear-gradient(107deg, var(--light-blue-color), rgb(99 235 228 / 0%) 70.71%),
    linear-gradient(336deg, var(--blue-color), rgb(153 197 235 / 0%) 70.71%);
}

.container-children {
  margin: 40px 30px 20px 40px;
}

nav {
  height: 50px;
  background: linear-gradient(to right, var(--start-navbar-color-opacity), var(--light-color-opacity));
  padding: 10px 30px 10px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

nav img {
  width: 100px;
}


.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Relacionado a botones */
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.submit-button,
.back-button,
.product-count-button,
.add-to-cart-button,
.delete-button,
.primary-button,
.secondary-button {
  border-radius: var(--common-border-radius);
  width: 27%;
  height: 33px;
  border: unset;
  color: white;
  text-align: center;
}

.submit-button,
.add-to-cart-button,
.primary-button {
  background: var(--btn-primary-bg-colors);
}

.product-count-button,
.back-button, 
.secondary-button {
  background: var(--btn-secondary-bg-colors);
}

.delete-button {
  background: rgb(177, 20, 20);
}

.back-button {
  width: 7%;
  height: 23px;
}

.product-count-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  height: 23px;
}

.add-to-cart-button {
  width: 44%;
}

/* Relacionado a inputs */
.search-bar {
  width: 20%;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=submit],
input[type=search],
textarea {
  align-self: center;
  background-color: var(--input-background-light);
  font-size: large;
  font-family: 'Encode Sans Expanded', sans-serif;
  width: 90%;
  height: 27px;
  border: none;
  padding-left: 10px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=submit]:focus,
input[type=search]:focus,
textarea:focus,
button:focus {
  outline: 0.5px solid #763c3c;
  outline-color: #3c4e76;
  box-shadow: 0 0 5px var(--dark-text-color);
}

input[type=checkbox] {
  align-self: center;
}
input[type=checkbox]:checked {
  background-color: red;
  border-color: red;
}