.divFeaturedProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.containerProductTitle {
  align-self: center;
  width: 50%;
}

.productTitle {
  font-size: 70px;
  font-weight: 100;
  width: 80%;
}

/* Clase para contenedor de botones de acción. De la mano con clase .actionButtons */
.actionButtonsContainer {
  display: flex;
  gap: 15px;
}