.divContainerForm {
  align-self: center;
  width: 40%;
}

.divContainerForm form {
  display: flex;
  align-self: center;
}

.searchBar {
  border-top-left-radius: var(--common-border-radius);
  border-bottom-left-radius: var(--common-border-radius);
  border-right: unset;
}

.searchIconButton {
  width: 24px;
  display: flex;
  align-items: center;
  border-top-right-radius: var(--common-border-radius);
  border-bottom-right-radius: var(--common-border-radius);
  border-left: unset;
  border: none;
}

.navigateSection {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sections, .sectionActive {
  text-decoration: none;
  color: var(--dark-text-color);
  font-weight: 600;
  padding-left: 7px;
  padding-right: 5px;
}
.sections:hover {
  color: var(--btn-secondary-end-color);
}

.sectionActive {
  background: var(--section-active-bg);
  border-radius: var(--common-border-radius);
  opacity: 0.9;
}