.divContainerForm {
  align-self: center;
  width: 40%;
}

.divContainerForm form {
  display: flex;
  align-self: center;
}

.searchBar {
  align-self: center;
  background-color: var(--input-background);
  font-size: large;
  font-family: 'Encode Sans Expanded', sans-serif;
  width: 90%;
  height: 27px;
  border-top-left-radius: var(--common-border-radius);
  border-bottom-left-radius: var(--common-border-radius);
  border-right: unset;
  border: none;
}

.searchIconButton {
  width: 24px;
  display: flex;
  align-items: center;
  border-top-right-radius: var(--common-border-radius);
  border-bottom-right-radius: var(--common-border-radius);
  border-left: unset;
  border: none;
}

.searchBar:focus, .searchIconButton:focus {
  outline: 0.5px solid #763c3c;
  outline-color: #3c4e76;
  box-shadow: 0 0 5px var(--dark-text-color);
}

.navigateSection {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
