.divContainerForm {
  align-self: center;
  width: 40%;
}

.divContainerForm form {
  display: flex;
  align-self: center;
}

.searchBar {
  border-top-left-radius: var(--common-border-radius);
  border-bottom-left-radius: var(--common-border-radius);
  border-right: unset;
}

.searchIconButton {
  width: 24px;
  display: flex;
  align-items: center;
  border-top-right-radius: var(--common-border-radius);
  border-bottom-right-radius: var(--common-border-radius);
  border-left: unset;
  border: none;
}

.navigateSection {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sections, .sectionActive {
  text-decoration: none;
  color: var(--dark-text-color);
  font-weight: 600;
  padding-left: 7px;
  padding-right: 5px;
}
.sections:hover {
  color: var(--btn-secondary-end-color);
}

.sectionActive {
  background: var(--section-active-bg);
  border-radius: var(--common-border-radius);
  opacity: 0.9;
}

.cart-section {
  display: flex;
  align-items: center;
}

.cart-section-count {
  margin: 0 5px;
  color: var(--btn-secondary-end-color);
}

/* Relacionado al POPOVER */
.popoverContainer {
  position: relative;
}

.popover-button {
  width: 17%;
  height: 47%;
}

.popoverContent {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 3; 
}

.popoverContent button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  text-align: left;
  background-color: transparent;
  border: none;
}

.popoverContent button:hover {
  background-color: #f0f0f0;
}