.sectionContainer {
  display: flex;
  flex-direction: column;
}

.productPageContainer {
  display: flex;
  flex-direction: row;
}

.sidebarContainer {
  position: relative; /* Agrega posición relativa */
  height: 100%;
  width: 27%;
  border-right: 1px solid var(--btn-primary-bg-colors); /* Agrega un borde derecho */
  margin-right: 12px;
}

.sidebarContainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: -4px; /* Ajusta el valor para controlar el desplazamiento de la sombra */
  width: 8px; /* Ajusta el ancho de la sombra */
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.categoryItem {
  display: flex;
  flex-direction: row;
}

.productListContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.productItem, .detailCard {
  background: var(--card-product-details);
  width: 220px;
  margin: 0 25px 17px 25px;
  padding: 15px; /* Añade un relleno para separar el contenido del borde */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Añade un borde con color */
  border-top: none;
  border-radius: 4px; /* Añade bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra */
  transition: box-shadow 0.3s ease; /* Agrega transición de la sombra */
}

.productItem:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
}

.productCardInfo {
  text-align: center;
}

/* Product details Page */
.detailCard {
  margin-top: 27px;
  width: 70%;
  align-self: center;
}

.headerDetails {
  display: flex;
  flex-direction: row;
}

.detailsSection {
  margin-left: 27px;
  width: 50%;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 27px;
}
.productCount {
  text-align: center;
  margin: 0 17px 0 17px;
}
